@model Syngenta.Core.UserBook

@{
    ViewBag.Title = "Assembly";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Banner{

    <div id="hidden">
        @Html.Hidden("IntroPageNumber", (object)ViewBag.IntroPageNumber)
        @Html.Hidden("AdvancedPageNumber", (object)ViewBag.AdvancedPageNumber)
        @Html.Hidden("SelectedPagesIntro", (object)ViewBag.SelectedPagesIntro)
        @Html.Hidden("SelectedPagesAdvanced", (object)ViewBag.SelectedPagesAdvanced)
        @Html.Hidden("SelectedLevel", (object)ViewBag.SelectedLevel)
    </div>

      <div id="pageAssembly">
        <p class="levelSelect">            
            <a id="standardLevelButton" href="#">Introductory Level</a>
            <span id="standardLevelLabel">Introductory Level</span> |
            <a id="advancedLevelButton" href="#">Advanced Level</a> 
            <span id="advancedLevelLabel">Advanced Level</span>
        </p>
        <div id="leftArrow" class="floatLeft"><a href="#"><img id="leftSideArrow" src="~/images/common/leftarrowlarge.gif" width="28" height="27" alt="" /></a></div>
        <div id="leftPageFrame" class="floatLeft">
          <div id="leftPage"></div>
          <div class="addPage">
            <div align="left">
                <input type="checkbox" name="addleftpage" id="addleftpage" class="leftcheck" />
              <label for="addleftpage">Click to add this page to your book</label>
            </div>
          </div>
        </div>
        <div id="rightPageFrame" class="floatLeft">
          <div id="rightPage"></div>
          <div class="addPage">
            <div align="right">                
              <input type="checkbox" name="addrightpage" id="addrightpage" class="rightcheck" />
              <label for="addrightpage">Click to add this page to your book</label>
            </div>
          </div>
        </div>
        <div id="rightArrow" class="floatLeft"><a href="#"><img id="rightSideArrow" src="~/images/common/rightarrowlarge.gif" width="28" height="27" alt="" /></a></div>
        <div class="clear"></div>
        <div id="addLeft"></div>
        <div id="addRight"></div>
        <div id="preview" align="center">
            <p><a id="Preview" href="~/preview">Preview my chosen pages <img src="~/images/common/greenarrowondarkgrey.gif" width="16" height="15" alt="" /></a></p>
        </div>        
      </div>

}

<div id="mainContent" class="complete">
    <div id="col1">
      <h2 class="darkGreen">Complete your book</h2>
      <p>On completion of your page selection please tick one or more below to produce your required file format:</p>
      
        @Html.Hidden("PreviewPostUrl", Url.Action("Assembly", "Book"))
        @Html.Hidden("DownloadPostUrl", Url.Action("Download", "Book"))

        @using (Html.BeginForm("Download", "Book", FormMethod.Post, new { id = "assembly-form" }))      
        {
            <div class="twoCol floatLeft">
                @Html.CheckBoxFor(m => m.LowQuality)
                <label for="LowQuality">Low res PDF</label>
                <br />
                This format is for email purposes 
            </div>
            <div class="twoCol floatLeft marginLeft20">
                @Html.CheckBoxFor(m => m.HighQuality)
                <label for="HighQuality">High res PDF</label>
                <br />
                This format is for print purposes 
            </div>
            <div class="clear"></div>         
            <p id="errorMessage"></p>
            <div align="right">
              <p><a href="#" class="save download" id="butSubmit">Click here to complete your book <img src="~/images/common/greenarrowongrey.gif" width="15" height="15" alt="" /></a></p>
            </div>
        }
    </div>
    <div class="clear"></div>
  </div>
<div class="clear"></div>
<div class="height30"></div>

@section Body {
    <script src="~/scripts/page-specific/assembly.js" type="text/javascript"></script>
}