@model Syngenta.Core.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Banner{
    <div id="imageRotation" class="darkOrangeBackground">
        <img class="floatLeft" src="~/images/headers/register-image.jpg" width="640" height="250" alt="" />
        <div id="introText">
            <p class="spaceBefore60"><strong>Assuring Food Supplies; Safety, Security and Quality – A guide to pesticide residues</strong> has been created using innovative E-book publication technology that enables you to uniquely select pages at the required level of detail on each of the different topic areas. You can select, save, print or email your own different versions, according to your customers' demands. </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
}
<div id="mainContent" class="register">
    <div id="col1">
        <p>Register your details here for access to the website. The website is only available to Syngenta employees, once registered, a verification email will be sent to your Syngenta email address with your password. Once you have received your password, you can use the fast login process for future visits.</p>
    </div>
    <div id="col2">
        <h2>Register your details here</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registration" }))
        {
            @Html.AntiForgeryToken()

            <table id="regTable" width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="105" align="left" valign="middle">
                        <label for="firstname">First Name</label>
                    </td>
                    <td width="285" align="left">
                        @Html.TextBoxFor(user => user.Forename, new { @class = "width275", Name = "Forename", Id = "Forename", autocomplete = "off" })
                    </td>
                    <td width="15" align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td width="105" align="left" valign="middle">
                        <label for="surname">Surname</label>
                    </td>
                    <td width="285" align="left">
                        @Html.TextBoxFor(user => user.Surname, new { @class = "width275", Name = "Surname", Id = "Surname", autocomplete = "off" })
                    </td>
                    <td width="15" align="left">&nbsp;</td>
                    <td align="left">&nbsp;</td>
                </tr>
                <tr>
                    <td width="105" align="left" valign="middle">
                        <label for="email">Syngenta Email Address</label>
                    </td>
                    <td width="285" align="left">
                        @Html.TextBoxFor(user => user.Email, new { @class = "width275", Name = "Email", Id = "Email", autocomplete = "off" })
                    </td>
                    <td width="15" align="left">&nbsp;</td>
                    <td align="left">          
                        <a href="#" id="register">Submit <img src="~/images/common/orangearrowongrey.gif" width="15" height="15" alt="" /></a>            
                    </td>
                </tr>
            </table>            
        }
        <p><em>All fields are mandatory</em></p>
        <p class="errorMessage hide highlite">Please attend to the fields highlighted in red.</p>
        <p class="errorMessage hide email">Email address is in an incorrect format, please correct the format and try again.</p>
        <p class="errorMessage hide invalid">Invalid email address.</p>
        <p class="errorMessage server">@ViewBag.Message</p>
        @Html.ValidationSummary()
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="height30"></div>

@section Body {
    <script src="~/scripts/page-specific/register.js" type="text/javascript"></script>
}